# -*- coding: utf-8 -*-
"""
Created on Tue Mar  5 17:48:29 2019

@author: danielk
"""

.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
}