# -*- coding: utf-8 -*-
"""
Created on Tue Mar  5 17:47:16 2019

@author: danielk
"""

body {
    font-family: sans-serif;
}

h1 {
    color: lightcoral;
    border-bottom: thin lightgrey solid;
    margin: 0px;
    padding: 0px;
    font-size: 34px;
    font-family: sans-serif;
    
}
h2 {
    color: dimgrey;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
h3 {
    color: dimgrey;
    margin: 0px;
    padding: 10px;
    font-family: sans-serif;
}
label {
    font-family: sans-serif;
    color:black;
}